<%- include('header'); -%>
   

    <div class="container contact row">
        <div class="container-gauche-contact col s6">
            <img src="imgs/tel.png" alt="">
        </div>
        <div class="container-droite-contact col s6">
            <form action="" method="POST">
                <input type="text">
            </form>
        </div>

    </div>

    <form action="/auth/login" method="post">
        <input type="email" name="" id="">
        <input type="password" name="" id="">
        <input type="submit" value="">
    </form>
    <%- include('footer'); -%>
  

